---
// src/pages/index.astro
import Base from '../layouts/Base.astro';
import Navbar from '../components/Navbar.astro';
import Hero from '../components/Hero.astro';
import Features from '../components/Features.astro';
import Precios from '../components/Precios.astro'; 
import Partners from '../components/Partners.astro'; 
import About from '../components/About.astro';
import Footer from '../components/Footer.astro';
import WhatsAppBot from '../components/WhatsAppBot.astro';
import RegistrationModal from '../components/RegistrationModal.astro'; // Importación del nuevo módulo
---

<Base title="Digital Level | Arbitraje P2P Profesional">
    <Navbar />
    
    <main>
        <Hero />

        <Features />

        <Precios />

        <Partners />
        
        <About />
    </main>

    <Footer />
    
    <WhatsAppBot /> 

    <RegistrationModal />
</Base>