<div id="wallet-red" class="relative group min-h-[160px] bg-gray-900/50 rounded-xl p-4 border border-white/5">
    <div class="flex justify-between items-start mb-4">
        <div>
            <p class="text-[12px] text-white-500 font-black uppercase tracking-widest">Balance RED</p>
            <h3 id="red-balance-total" class="text-4xl font-bold text-white mt-1">0.00 USDT</h3>
        </div>
        <i class="fas fa-network-wired  text-white/80"></i>
        
    </div>

    <div id="red-details" class="space-y-3 border-t border-white/5 pt-4">
        <div class="flex justify-between items-center">
            <span class="text-red-500/80 uppercase font-bold text-xs tracking-tight">Enviado (Cant):</span>
            <span id="red-sent-count" class="text-red-400 font-mono text-lm font-bold">0</span>
        </div>
        <div class="flex justify-between items-center">
            <span class="text-red-500/80 uppercase font-bold text-xs tracking-tight">Volumen Enviado:</span>
            <span id="red-sent-vol" class="text-red-400 font-mono text-lm font-bold pr-1">0.00 USDT</span>
        </div>

        <div class="flex justify-between items-center">
            <span class="text-emerald-500/80 uppercase font-bold text-xs tracking-tight">Recibidos (Cant):</span>
            <span id="red-received-count" class="text-emerald-400 font-mono text-lm font-bold">0</span>
        </div>
        <div class="flex justify-between items-center">
            <span class="text-emerald-500/80 uppercase font-bold text-xs tracking-tight">Volumen Recibidos:</span>
            <span id="red-received-vol" class="text-emerald-400 font-mono text-lm font-bold pr-1">0.00 USDT</span>
        </div>
    </div>

    <div class="flex justify-between items-center text-[10px] mt-2 border-t border-white/5 pt-2">
        <span class="text-white-500 uppercase font-bold tracking-wide">Total Operaciones:</span>
        <span id="red-total-ops" class="text-white font-mono font-bold text-lg">0</span>
    </div>
    </div>